<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Azure Report Automation">
    <title>
      {% block title %}
        Nilakandi
      {% endblock title %}
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
    {% include "navbar.html" %}
    {% comment %} <div class="container">
      <br />
      <br />
      <br />
    </div> {% endcomment %}
    {% block content %}
    {% endblock content %}
  </body>
</html>
