{% extends "base.html" %}
{% block title %}
  Nilakandi - Home Page
{% endblock title %}
{% block content %}
  <div class="container">
    <h1>Home Page</h1>
    <p>Welcome to the home page of Nilakandi.</p>
    <hr />
    <h2>Generate Report</h2>
    {% include "partials/generate_report_form.html" %}
    <hr class="my-4" />
    <h2>Count of Data By Subscription</h2>
    {% comment %} {{ headers }} {% endcomment %}
    <table class="table table-striped">
      <thead>
        <tr>
          {% for head in headers %}
            <th scope="col">{{ head }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for data in datas %}
          <tr>
            {% for item in data %}
              <td>{{ item }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
